<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Nayaami_Framework">

	<listeners>

		<listener class-name="com.nayaami.utilities.Reporting">

		</listener>

	</listeners>



	<test name="e_Commerce">

		<parameter name="browser" value="chrome">
		</parameter>

		<classes>
			 <class name="com.nayaami.test_cases.TC_LoginTest_001" ></class> 
			<!--<class name="com.nayaami.test_cases.TC_LoginDDT_002"></class> -->
			 <!--    <class name="com.nayaami.test_cases.TC_AddToCart_003"></class> -->
		</classes>
	</test>

</suite>